<div class="card">
    <h5 class="card-header"><a href="/recipepage/{{recipe.id}}">{{recipe.title}}</a>
    </h5>
    <div class="card-body">
        <h5 class="card-title">Description:</h5>
        <p class="card-text">{{recipe.description}}</p>
        <button class="btn btn-outline-warning rounded-0 unlike" id="{{id}}">unlike recipe</button>
    </div>
</div>