<div class="card">
    <h5 class="card-header"><a href="/recipe/{{recipe.id}}">{{recipe.title}}</a></h5>
    <div class="card-body">
        <h5 class="card-title">Description:</h5>
        <p class="card-text">{{recipe.description}}</p>
    </div>
</div>