{{!-- <h1>Welcome to your HomePage!</h1>
<button class="btn btn-warning rounded-0"><a href="/newrecipe">Add a recipe</a></button>
<h2>Your Recipes</h2>
<div class="somethingunique">
    {{#if recipe.length}}
    {{#each recipe as |recipe|}}
    {{> recipe-card recipe}}
    {{/each}}
    {{/if}}
    {{#else}}
    <h3>You haven't added any recipes yet</h3>
    {{/else}}
</div>
<h2>Liked Recipes</h2>
<h3>Coming Soon!</h3>
<script src="/javascript/delete-recipe.js"></script> --}}

                
                {{!-- <div class="somethingunique">
                    {{#if recipe.length}}
                    {{#each recipe as |recipe|}}
                    {{> recipe-card recipe}}
                    {{/each}}
                    {{/if}}
                    {{#else}}
                    <h3>You haven't added any recipes yet</h3>
                    {{/else}}
                </div> --}}
<div class="container">
    <div class="row">
        <div class="col-md-12  text-center rounded-0" id="homepage-title">WhAt yA WaNna eAt? RECIPE PAGE
        </div>
    </div>
    <div class="homepage-body">
        <div class="row">
            <div id="my-favs" class="col-md-3 border border-warning rounded-0 text-center">
                
            </div>
            <div id="current-recipe" class=" col-md-6 border border-warning rounded-0 text-center pt-4">
                
                <img src="./pics/brownie.webp" class="food-img mb-2" alt="">
                <h2>Your Recipes</h2>
                <div class="somethingunique">
                    {{#if recipe.length}}
                    {{#each recipe as |recipe|}}
                    {{> recipe-card recipe}}
                    {{/each}}
                    {{/if}}
                    {{#else}}
                    <h3>You haven't added any recipes yet</h3>
                    {{/else}}
                </div>
                
                <a href="" class="email-ingredients" href="#">Email Ingredients</a>
                <div class="liked-food">
          
                </div>
            </div>
            <div id="personal-recipes" class="col-3 border border-warning rounded-0 text-center">
                

            </div>
        </div>
    </div>
</div>