<h1>Welcome to your HomePage!</h1>
<button>Add recipe</button>
<h2>Your recipes!</h2>
{{#if recipes.length}}
{{#each recipe as |recipe|}}
{{> recipe-card recipe}}
{{/each}}
{{/if}}
{{#else}}
<h3>You haven't added any recipes yet</h3>
{{/else}}