<section>
    <div id="main" class="container">
        <div class="row">
            <div class="col-sm-12">

                <div class="row">
                    <form class="login">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control rounded-0" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text">We'll never share your email with anyone
                                else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control rounded-0" id="exampleInputPassword1">
                        </div>
                        <button type="submit" class="btn btn-warning rounded-0">Submit</button>
                        <a href="user-page.html" class="sign-up">Not a Member? Sign up here!</a>
                    </form>
                    <div class="col-4 col-sm-5 featured rounded-0">

                        <img src="./pics/32066ff6-2abf-41ac-ac78-ba90a5355431.svg" alt="mid-century-artwork"
                            class="img-thumbnail">

                    </div>
                    <div class="col-1 col-sm-3 featured rounded-0">
                        <div class="card" style="width: 18rem;">
                            <img src="./pics/midcenturycard_1.svg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Recipe</h5>
                                <p class="card-text">Description of recipe.</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Ingredients</li>
                                <li class="list-group-item">How to</li>
                                <li class="list-group-item">Cook time</li>
                            </ul>

                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>

</section>
