<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Goldman&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./assets/css/style.css" />

</head>
<nav class="navbar navbar-expand-lg">
  <a href="#" class="text-decoration-none"></a>
  <a class="navbar-brand" href="/layout/homepage.html">WhAt U WaNna EaT?</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link" href="#">Featured <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/layout/accountinfo.html">Account Info</a>
          </li>

          <li class="nav-item">
              <a class="nav-link" href="#" tabindex="-1" aria-disabled="false">My Recipes</a>
          </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2 rounded-0" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-warning rounded-0 my-2 my-sm-0" type="submit">Search</button>
      </form>
      <ul>
          <li class="nav-item">

              <div class="btn-group">
                  <button type="button" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      Action
                  </button>
                  <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">My Saved Recipes</a>
                      <a class="dropdown-item" href="#">Personal Recipes</a>
                      <a class="dropdown-item" href="#">Random Recipe</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Logout</a>
                  </div>
              </div>
          </li>
      </ul>
  </div>
  <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
  </div>
</nav>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12  text-center rounded-0" id="homepage-title">Lets cook it!
      </div>
    </div>
  </div>
  
  
  <div class='container' id='cooking info'>
    <div class='row'>
      <!-- prep time -->
      <div class='card col-6 border border-warning rounded-0'>
        <h3 class="card-title">Cooking Info</h3>
        <li>CookTime:<span id='cooktime'></span></li>
        <li>PrepTime: <span id='preptime'></span> </li>
        <li>Servings: <span id='serving'></span></li>
      </div>
      <!-- Ingredients -->
      <div class='card col-6 border border-warning rounded-0' id='ingredients'>
        <h2>Ingredients</h2>
      </div>
    </div>
  </div>


  <!-- how to cook it -->
  <div class="container">
    <div class="row task"><ol id="Steps"></ol></div>
  </div>



</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="./assets/js/index.js"></script>
<script src='./style.css'></script>