* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

.bbq-guy{
  text-align: center;
}
#smoke {
  animation: cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes smoke-move {
  from{
    transform: translateX(0);
  } to {
    transform: translateX(20px);
  }
}

#ball {
  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5,0.05,1,.5);
  animation-iteration-count: infinite;

}

@keyframes bounce {
  from {
    transform: translate3d(0,0,0);
  } to {
    transform: translate3d(0,200,0);
  }
 
}


.prop {
  /* height: 20px;
  width: 20px; */
  transition: transform 1s ease-in-out;
}
.prop:hover{
  transform: rotate(1000deg);
}

