* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
    background-color: rgb(33, 33, 70);
    font-family: "Bungee Hairline", cursive;
  }
  .logo {
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 30px;
  }
  a {
    display: flex;
    color: whitesmoke;
    justify-content: space-around;
    list-style: none;
  }
  .nav-links a {
    color: whitesmoke;
    text-decoration: none;
    letter-spacing: 3px;
   
    font-size: 20px;
  }
  .form_control{
    border-radius: 0;
  }

  .burger {
    display: none;
    cursor: pointer;
  }
  .burger div {
    width: 25px;
    height: 2px;
    margin: 5px;
    background-color: whitesmoke;
    transition: all 0.3 ease;
  }

  section {
    background-color: rgb(85, 114, 68);
  }
  .login {
    margin: 20px;
    
  }
 
  
  @media screen and (max-width: 1024px) {
    .nav-links {
      width: 50%;
    }
  }
  
  @media screen and (max-width: 768px) {
    body{
      overflow-x: hidden;
    }
    .nav-links {
      position: absolute;
      right: 0px;
      height: 92vh;
      top: 8vh;
      background-color: rgb(33, 33, 70);
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30%;
      transform: translate(100%);
      transition: transform 0.5s ease-in;
    }
    .nav-links li{
      opacity: 0;
    }
    .burger{
      display: block;
    }
  }
  
  .nav-active{
    transform: translateX(0%);
  }
  
  @keyframes navLinkFade{
    from{
      opacity: 0;
      transform: translateX(50px);
    }
    to{
      opacity: 1;
      transform: translateX(0px);
    }
  }
  
  .toggle .line1{
    transform: rotate(-70deg) translate(-5px,6px);
  }
  .toggle .line2{
  opacity: 0;
  }
  .toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
  }